/venv
/temp
/docker/mariadb_data
/docker/postgres_data
/docker/minio_data
/docker/redis-data
/__pycache__
/result/
**/result/
build/
sdkconfig
*.bin
*.elf
*.map
*.pyc
*.log
*.env
.env
docs
__pycache__/